<html>
  <head>
    <title>Upload Database</title>
  </head>
  <body
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    "
  >
    <div>
      <h1 style="text-align: center">You aren't og PAYAT. Check your</h1>
    </div>
    <br /><br />
    <iframe
      src="https://giphy.com/embed/jRwKzj28kaAxbfH5fC"
      width="480"
      height="406"
      style=""
      frameborder="0"
      class="giphy-embed"
      allowfullscreen
    ></iframe>
    <p></p>
  </body>
</html>
